.card-list {
  margin-top: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
  color: black;
}
.card:hover {
  background-color: #f5f5f5;
}
