.app {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.search-section {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid black;
}

.results-section {
  padding: 20px;
  border: 1px solid black;
}
.error-button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.error-button {
  padding: 14px;
}
