.app {
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-section {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid black;
}

.results-section {
  padding: 20px;
  border: 1px solid black;
}
